/*
1. Header
2. 
*/

body {
    font-size: 14px;
    text-transform: uppercase;
    font-family: PT Sans Narrow;
}

.container {
    width: 940px;
    margin: 0 auto;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.page-header {
    box-sizing: border-box;
    height: 70px;
    background-color: #000000;
    color: #ffffff;
    vertical-align: middle;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.main-menu li {
    display: inline-block;
    list-style: none;
}

.page-header a {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    line-height: 70px;;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -4px;;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.page-header a:hover {
    background-color: #242424;
}

/*.main-menu-active {
    box-sizing: border-box;
    border-bottom: 5px solid white;
}*/

.user-block {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
}

.user-block a::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 16px;
    margin-right: 10px;
    margin-top: -4px;
    background: url(/img/icon-login.png);
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    opacity: 0.3;
}

.user-block a:hover::before {
    opacity: 1;
}

.main-menu {
    float: left;
}

main {
    background-image: url(/img/main-bg.png);    
}

.logo {
    display: inline-block;
    margin-left: 286px;
    margin-top: 60px;
}

.features {
    display: inline-block;
    margin-left: 10px
}

.features-item {
    position: relative;
    display: inline-block;
    width: 260px;
    margin-top: 30px;
    margin-bottom: 55px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.features-title {
    display: inline-block;    
    margin-bottom: 75px;
    font-size: 30px;  
}

.features-item::after {
    position: absolute;
    top: 35%;
    left: 115px;
    display: inline-block;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(/img/romb.png);
    
}

.features-item p {
    margin: 0;
    padding: 0;
}
